@use './styles/NavBar';
@use './styles/Main';
@use './styles/Students';
@use './styles/AddStudent';
@use './styles/Dashboard';

@use './variables';


*{
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-Geist-Sans);
}