@import '../variables';

.NavBar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    gap: 20px;
    padding: 0 10px;
    border-right: 1px solid #d4d4d4;

    .Title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        gap: 10px;
        padding: 0 10px;

        .iconSchoolControl {
            width: 24px;
            height: 24px;
        }
        span {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .navComponent {

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            padding: 0 10px;
            text-decoration: none;

            .iconNav {
                width: 22px;
                height: 22px;
                color: $Gray-Primary-Nav;
            }

            span {
                font-size: 14px;
                color: $Gray-Primary-Nav
            }
        }

        .navComponent:visited {
            color: #000;
        }

        .navComponent:hover {
            .iconNav, span {
                color: #000;
                transition: all;
                transition-duration: 0.3s;
            }
        }
    }
}