@import '../variables';

.studentsSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    .containerActions {
        display: flex;
        flex-direction: row;
        gap: 50px;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 28px;

        .titleSearch {
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 22px;
                font-weight: 300;
            }

            .inputSearchcontainer {
                display: flex;
                flex-direction: row;

                input {
                    padding: 10px 20px;
                    width: 250px;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                    outline: none;
                    height: fit-content;
                }

                input:focus {
                    border-color: #3881d4; /* Cambia el color del borde al enfocar si lo deseas */
                    transition: all;
                    transition-duration: 0.3s;
                }
                
                input::placeholder {
                    color: #797979;
                    
                }

                button {
                    max-width: 50px;
                    min-width: 50px;
                    border-radius: 0 7px 7px 0;
                    border: #3881d4 0 solid;
                    background-color: #1677FF;
                    cursor: pointer;

                    .iconSearch {
                        width: 18px;
                        height: 18px;
                        stroke-width: 2px;
                        color: white;
                        margin-left: 16px;
                    }
                }

                button:hover {
                    background-color: #4096FF;
                    transition: all;
                    transition-duration: 0.3s;

                }
            }
        }
        


        

        .addStudentButton {
            padding: 12px 20px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: fit-content;
            font-size: 13px;
            font-weight: 500;
            cursor: pointer;
            background-color: green;
            color: white;
            height: fit-content;
            align-self: flex-end;
        }

        .addStudentButton:hover {
            filter: opacity(0.8);
            transition: all;
            transition-duration: 0.3s;
            
        }
    }

    .btnsActionesStudents {

        display: flex;
        flex-direction: row;
        gap: 5px;

        .btnDelete {
            background-color: rgb(202, 133, 133);
            // background-color: rgb(255, 184, 184);

            .iconDelete {
                width: 20px;
                height: 20px;
                stroke-width: 1px;
                color: rgb(255, 0, 0);
            }
        }

        .btnDelete:hover {
            background-color: rgb(236, 146, 146);
            

            .iconDelete {
                color: red;
            }
        }

        .btnUpdate {

            // background-color: rgba(194, 133, 75, 0.815);
            background-color: rgba(255, 174, 0, 0.726);

            .iconUpdate {
                width: 20px;
                height: 20px;
                stroke-width: 1.5px;
                color: rgb(255, 136, 0);
                
            }
        }

        .btnUpdate:hover {
            background-color: rgb(209, 173, 95);
        }


    }


}